.wrapper {
  width: 100%;
  height: fit-content;
  margin-top: calc(var(--header-height) + 20px);
  overflow-y: overlay;
  overflow-x: hidden;
}

.banner {
  width: 100%;
  height: auto;
  border-radius: 5px;
  overflow: hidden;
}

.more-button {
  display: flex;
  justify-content: center;
}
