@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --main-bg: #170f23;
  --sidebar-bg: #231b2e;
  --dark-gray-bg: #432275;
  --scrollbar-bg: #dadada;
  --search-box-bg: #2f2739;

  --light-gray-text: #dadada;
  --gray-text: #8b8791;
  --light-gray-text: #dadada;
  --search-text: #c3c2c4;
  --disabled-text: #9c8bb6;

  --purple: #7200a1;
  --alpha-purple: #563983;
  --light-purple: #393243;
  --dark-purple: #432275;
  --black: #000;
  --white: #fff;
  --red: #ff0101;
  --yellow: #ffdb00;

  --sidebar-width: 240px;
  --middle-width: calc(1920px - 240px);
  --header-height: 70px;
  --search-box-width: 540px;
  --player-queue-width: 330px;
  --main-padding: 59px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--white);
  line-height: 1.5;
  overflow-y: hidden;
}

//Scrollbar CSS
body ::-webkit-scrollbar {
  width: 4px;
}
body ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--scrollbar-bg);
}
body ::-webkit-scrollbar-track {
  border-radius: 4px;
}

button,
input {
  border: none;
  outline: none;
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: var(--light-gray-text);
  text-decoration: none;
}

.wrapper {
  color: var(--white);
}
