.wrapper {
  width: 100%;
  height: 100%;
  padding: 15px 20px;
  background-color: var(--player-bg);
  border-top: 1px solid var(--light-purple);
  display: flex;
  justify-content: space-between;
}

.playing-song {
  width: 250px;
}

.controller {
  width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.controller-area {
  display: flex;
  justify-content: center;
}

.controller-inner {
  display: flex;
  align-items: center;
  gap: 20px;
}

.shuffle {
}

.prev {
}

.toggle-play {
  padding: 2px;
  border: 2px solid var(--white);
  border-radius: 999px;

  &.playing {
    .play-btn {
      display: none;
    }

    .pause-btn {
      display: flex;
    }
  }

  .pause-btn {
    display: none;
  }
}

.next {
}

.repeat {
}

.duration {
  display: flex;
  align-items: center;
  gap: 10px;
}

.current-time {
}

.duration-bar {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    height: 5px;
  }
}

.total-duration {
}

.actions {
  display: flex;
  align-items: center;
}

.main {
  padding-right: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.mv {
}

.lyric {
}

.picture-in-picture {
}

.volumn {
}

.main + .sub {
  padding-left: 10px;
  border-left: 2px solid var(--light-purple);
}

.show-playlist {
  padding: 5px;
}
