.wrapper {
  width: 100%;
  height: fit-content;
  margin-top: calc(var(--header-height) + 20px);
  overflow-y: overlay;
  overflow-x: hidden;
}

.banner-wrapper,
.category-wrapper {
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;

  &:hover img {
    transform: scale(110%);
  }
}
