.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: var(--main-bg);
  display: flex;
  overflow-y: overlay;
}

.main {
  width: 100%;
  padding: 0 var(--main-padding);
}

// .player-queue {
//   width: var(--player-queue-width);
//   height: 100vh;
//   border: 1px solid white;
//   flex-shrink: 0;
// }
